 body {
     background: rgb(250, 250, 250);

 }

 #mainContent {
     color: rgb(40, 180, 200);
     padding-left: 10pc;
     font-family: Arial;
 }

 #table {
     color: rgb(0, 0, 0);
     margin: 20px;
     font-family: Arial;
     border-style: dotted;
     border: 5px; 
 }

 .locations {
     font-family: Arial;
     Margin-top: 
 }

 .center {
     margin-left: 37pc;
     font-family: Arial;
 }

 nav {
     background: rgb(27, 147, 180);
     margin: 0 auto;
     display: flex;
     padding: 10px;
 }
 
 #website {
    display:flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial;
    margin-left: 5px;
 }

 #menu {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial;
    Margin: 0px
 }