 body {
     background: rgb(40, 180, 200);

 }

 #mainContent {
     color: rgb(27, 147, 180);
     ;
     font-family: Arial;
     padding: 3pt;
     background-color: rgb(255, 255, 255);
     border-radius: 25pt;

 }

 #table {
     color: rgb(0, 0, 0);
     margin: 20px;
     font-family: Arial;
     border-style: dotted;
     background-color: rgb(255, 255, 255);
     border-radius: 25pt
 }

 .locations {
     font-family: Arial;
 }

 #datTitle {
     margin-left: 37pc;
     font-family: Arial;
 }

 nav {
     background: rgb(27, 147, 180);
     margin: 0 auto;
     display: flex;
     padding: 10px;
 }

 #website {
     display: flex;
     text-decoration: none;
     font-family: Arial;

 }

 #menu {
     display: flex;
     text-decoration: none;
     font-family: Arial;
     Margin-left: 10px
 }

 a:link {
     color: rgb(0, 0, 0);
 }

 a:visited {
     color: rgb(0, 0, 0);
 }

 a:hover {
     color: rgb(255, 255, 255);
 }

 a:active {
     color: rgb(40, 180, 200);
 }

 #logo {
     margin-left: 46pc;
 }

 .datDog {
     color: rgb(0, 0, 0)
 }